.signup{
    margin-top: 10px;
    margin-bottom: 30px;
    box-shadow: inherit 0 0 10px gray;
    background-color: #F8F9FA;
    box-sizing: border-box;
    border-radius: 8px;
    width: 70%;
    padding: 20px;
}

span a{
    text-decoration: none;
}